include MANIFEST.in LICENSE-2.0.txt README.rst CHANGES.rst tox.ini
recursive-include src *.py
recursive-include example *.py
recursive-include example *.png
recursive-include example *.xml
recursive-include test *.py
recursive-include doc *.rst
